$bg: #f0f0f0;
$text: rgba(0,0,0,0.6);
$textalt: #f5f5f5;

$col1: #C91826;
$col2: #B21522;
$font1: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font2: 'Crimson Text', 'EB Garamond', 'Garamond', serif;